.calculator-grid{
    display: grid;
    gap: 5px;
    padding: 10px;
    width: 300px;
}

.output{
    margin-left: auto;
    grid-column: span 4;
}

/* .previous-operand{
   
} */

.span-two{
    grid-column: span 2;
    
}